#tribar
  .container
    .row
      .span5.columns
        %h6 Meet &amp; Greet
        %p
          Network with fellow Ruby developers in the Orange County area
          or sit and listen in our monthly meetup presentations.
          Chat with us on IRC in the
          %a{:href => "irc://irc.freenode.net/ocruby"} #ocruby
          channel on Freenode.
      .span5.columns
        %h6 Code &amp; Hack
        %p
          Come have fun and work on awesome projects with the fellow members of OCRuby.
          Newcomers and seasoned veterans are more than welcome to join, so come out!
        %p.center
          %a.btn{:href => "http://www.github.com/ocrb"} OCRuby @ Github.com &rarr;
      .span5.columns
        %h6 The Meetup
        %p
          We organize our meetings and communicate with our members via <a href = "http://meetup.com">meetup.com</a>.  Meetups typically occur on the last Thursday of the month.  Join our group!
        %p.center
          %a.btn{:href => "http://www.meetup.com/ocruby"} Meetup.com &rarr;
%div
  .container
    #when-and-where-section.page-header
      %h1
        When &amp; Where
        %small general information on our schedule
    #kajabi-map.row.map
      .span9
        = partial 'projects/map'
      .span6.offset1
        %h4 Hackfests
        %h5 When
        First three Thursdays of the month
        %h5 Address
        %address
          333 El Camino
          %br
          Tustin, CA 92780
        %h5 Instructions
        %p
          %strong Hacking:
          Bring your laptops and thinking caps
          %br
          %strong Parking:
          on street side, avoid gravel lot at all cost
          %strong Entrance:
          Back of the building &amp; up the stairs
    #smartsoft-map.row.map
      .span9
        = partial 'smartsoft_map'
      .span6.offset1
        %h4 Monthly Meetups
        %h5 When
        Last Thursday of the month
        %h5 Address
        %address
          18006 Sky Park Circle
          %br
          Suite 207
          %br
          Irvine, CA 92614

    #people-section.page-header
      %h1
        People
        %small members of our group
    .row
      .span9

        - @members.each do |member|
          .person.row
            .span4.columns
              %h3
                %a{:href => member.profile_url, :class => "avatar"}
                  %img{:src => member.avatar_url, :size => "40x40"}
                %a{:href => member.profile_url, :class => "profile-url"}
                  = member.login

      .span5.pull-right.offset1
        = partial 'twitter'

    #projects-section.page-header
      %h1
        Projects
        %small things we've worked on
    = partial 'github_repos'
