!!!
%html
  %head
    %meta(charset="UTF-8")
    %title ocruby

    %link(rel="icon" href="/favicon.ico")
    %link(rel="shortcut icon" href="/favicon.ico")
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'

  %body
    %header
      %h1 ocruby
      %h2 Ruby meetups and hackfests every Thursday in Orange County, CA
      %ul.nav
        %li= link_to 'Home', '/'
        %li= link_to 'Meetups', '#'
        %li= link_to 'Hackfests', '#'
        %li= link_to 'Projects', '#'
    .content
      content goes here
    %footer
      footer goes here